{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center">Hello, check out some Tennis rankings will ya</h1>
    <div class="container">
        <div class="row">
          <div class="col-sm alert alert-dark">
            <a class="alert-link" href="/atp">ATP</a>
          </div>
          <div class="col-sm alert alert-dark">
            <a class="alert-link" href="/atp">WTA</a>
          </div>
          <div class="col-sm alert alert-dark">
            <a class="alert-link" href="/atp">ITF</a>
          </div>
        </div>
      </div>
{% endblock content %}