{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">{{system}} Rankings</h1>
    <div class="row">
        <div class="col-2">
            <h4 class="text-center">#</h4>
        </div>
        <div class="col-4">
            <h4 class="text-center">Name</h4>
        </div>
        <div class="col-2">
            <h4 class="text-center">Age</h4>
        </div>
        <div class="col-2">
            <h4 class="text-center">Tournaments Played</h4>
        </div>
        <div class="col-2">
            <h4 class="text-center">Points</h4>
        </div>
    </div>
    {% for i in range(0, len)%}
        {% if i != 0 %}
            {% set dist = ((rankings[i - 1].Points | replace(',', '') | int) - (rankings[i].Points | replace(',', '') | int)) / 10 %}
            <div class="row" style="margin-top: {{dist}}px;">
        {% else %}
            <div class="row">
        {% endif %}
                <div class="col-2 text-center">{{rankings[i].Rank}}</div>
                <div class="col-4 text-center">{{rankings[i].Name}}</div>
                <div class="col-2 text-center">{{rankings[i].Age}}</div>
                <div class="col-2 text-center">{{rankings[i].Tourns}}</div>
                <div class="col-2 text-center">{{rankings[i].Points}}</div>
        </div>
    {% endfor %}
</div>
    
{% endblock content %}